{{!-- create an individual line item with name and button for index handlebars file --}}
<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevoured="{{devoured}}">
		Devoured!
	</button>

	
</li>