<!DOCTYPE html>
<html lang="en">
<head>
	{{!-- bring in bootstrap, jquery, css and javascript files --}}
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger Quest</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	{{!-- bring in body --}}
	<body>
		{{{ body }}}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<div class="credit">
		<a target="_blank" href="https://icons8.com/icons/set/hamburger">Hamburger icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></div>
	</body>
</html>
